<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <style>
        .delete-button {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Task List</h1>
    <form method="post" action="/add_task">
        <label for="task">Add Task:</label>
        <input type="text" id="task" name="task" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <form method="post" action="/mark_completed/{{ task.id }}">
                    <input type="checkbox" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
                    <span {% if task.completed %}style="text-decoration: line-through;"{% endif %}>{{ task.description }}</span>
                    <button class="delete-button" type="submit" formaction="/delete_task/{{ task.id }}">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
